<h3>{{ pageHeader }}</h3>
<hr />         
<form novalidate (ngSubmit)="save()" [formGroup]="profileForm">
    <div class="form-group row mb-2">
        <label class="col-lg-2 col-form-label"
                for="firstNameId">First Name</label>
        <div class="col-lg-6">
        <input class="form-control"
                id="firstNameId"
                type="text"
                placeholder="First Name (required)"
                formControlName="firstName"
                [ngClass]="{'is-invalid': (profileForm.get('firstName').touched ||
                                            profileForm.get('firstName').dirty) &&
                                            !profileForm.get('firstName').valid }" />
        <span class="invalid-feedback">
            <span *ngIf="profileForm.get('firstName').errors?.required">Please enter your first name.</span>
            <span *ngIf="profileForm.get('firstName').errors?.minlength">The first name must be longer than 3 characters.</span>
        </span>
        </div>
    </div>
    <div class="form-group row mb-2">
        <label class="col-lg-2 col-form-label"
                for="lastNameId">Last Name</label>
        <div class="col-lg-6">
        <input class="form-control"
                id="lastNameId"
                type="text"
                placeholder="Last Name (required)"
                formControlName="lastName"
                [ngClass]="{'is-invalid': (profileForm.get('lastName').touched ||
                                            profileForm.get('lastName').dirty) &&
                                            !profileForm.get('lastName').valid }" />
        <span class="invalid-feedback">
            <span *ngIf="profileForm.get('lastName').errors?.required">Please enter your last name.</span>
            <span *ngIf="profileForm.get('lastName').errors?.maxlength">The last name must be less than 50 characters.</span>
        </span>
        </div>
    </div>
    <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3" type="submit" style="width:80px" [disabled]="!profileForm.valid">Save</button>
        </div>
    </div>
</form>