<div class="col-lg-6 mx-auto my-5">
<div class="card">
    <div class="card-header text-center">
      <h4><span class="fa fa-lock">&nbsp;</span>{{pageTitle}}</h4>
    </div>
    <div class="card-body">
      <form novalidate
            (ngSubmit)="login(loginForm)"
            #loginForm="ngForm"
            autocomplete="off">
        <fieldset>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="userNameId">Username</label>
            <div class="col-md-9">
              <input class="form-control"
                     id="userNameId"
                     type="text"
                     placeholder="Username (required)"
                     required
                     ngModel
                     name="userName"
                     #userNameVar="ngModel"
                     [ngClass]="{'is-invalid': (userNameVar.touched || userNameVar.dirty) && !userNameVar.valid }" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form--label" for="passwordId">Password</label>
            <div class="col-md-9">
              <input class="form-control"
                     id="passwordId"
                     type="password"
                     placeholder="Password (required)"
                     required
                     ngModel
                     name="password"
                     #passwordVar="ngModel"
                     [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-9 offset-md-3">
              <button class="btn btn-primary mr-3"
                      type="submit"
                      style="width:80px"
                      [disabled]="!loginForm.valid">
                Log In
              </button>
              <button class="btn btn-outline-secondary"
                      type="button"
                      style="width:80px"
                      [routerLink]="['/']">
                Cancel
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>
</div>