<nav class="navbar navbar-dark bg-dark navbar-expand">
  <a class="navbar-brand" href="#"><strong>{{ appHeaderTitle }}</strong></a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/profile']"><span class="fa fa-user-circle"></span> {{ userName }}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid content">
  <div class="row my-3">
    <div class="col-md-2 mb-3">
      <div class="list-group" aria-orientation="vertical">
        <a class="list-group-item disabled bg-light" *ngIf="isLoggedIn">
          <div><span class="fa fa-user-circle"></span> {{ userName }}</div>
        </a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/login']" routerLinkActive='active' *ngIf="!isLoggedIn"><span class="fas fa-sign-in-alt"></span> Login</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/profile']" routerLinkActive='active'>My Profile</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/dashboard']" routerLinkActive='active'>Dashboard</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/student']" routerLinkActive='active'>Student Records</a>
        <a class="list-group-item list-group-item-action" href="#" (click)="logOut()" *ngIf="isLoggedIn"><span class="fas fa-sign-out-alt"></span> Logout</a>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <hr/>
  <div class="row justify-content-center">
    <p>Peerz</p>
  </div>
</footer>